* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root {
    --cyan: #00ccff;
    --lime: #00ffbb;
    --blue-dark: #001b66;
    --blue: #0044ff;
    --faded-blue: #99b4ff;
    --big-font: 5rem;
    --h1-font: 2rem;
    --h2-font: 1.5rem;
    --p-font: 1.1rem;
}
body {
    background-color: #ddd;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    background: #fff;
    align-items: center;
    padding: 10px 15%;
    border-bottom: 1px solid #00000036;
    transition: all 0.65s ease;
}
header .logo-medic img {
    width: 230px;
}
.navlist {
    display: flex;
}
.navlist a {
    color: var(--blue-dark);
    font-size: 18px;
    font-weight: 500;
    margin: 0 25px;
    position: relative;
    transition: all 0.45s ease;
}
.navlist a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 0;
    height: 3px;
    background-color: var(--blue);
    transition: width 0.45s ease;
}
.navlist a:hover {
    color: var(--blue);
}
.navlist a:hover::after {
    width: 100%;
}
.btn-login {
    font-size: 18px;
    font-weight: 500;
    padding: 13px;
    background-color: var(--blue);
    color: #fff;
    border-radius: 8px;
    border: 2px solid var(--blue);
    outline: none;
    transition: all 0.45s ease;
}
.btn-login:hover {
    background-color: var(--faded-blue);
    color: var(--blue-dark);
}
span {
    color: var(--blue-dark);
}
/* section {
    padding: 160px 15% 50px;
}
.home {
    position: relative;
    height: 80vh;
    width: 100%;
    background-image: url(images/bg2.png);
    background-size: cover;
    background-position: center;
    background-color: #ccc;
    display: flex;
    align-items: end;
    justify-content: flex-start;
}
.home-content h1 {
    font-size: var(--h1-font);
    font-weight: 500;
    list-style: 1.1;
    margin: 0 0 8px;
    width: 80%;
} */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section .form-content {
    padding: 2px;
}
section .form-content .title {
    font-size: var(--h1-font);
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
}
section .form-content .inputan {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
section .form-content .inputan input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    margin-top: 1px;
    height: 40px;
    padding: 8px;
}
section .form-content button {
    width: 100%;
    margin-top: 10px;
    outline: none;
    height: 40px;
    border: 1px solid var(--blue);
    transition: all 0.45s ease;
    color: #fff;
    background-color: var(--blue);
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 5px;
    font-size: 0.9rem;
}
section .form-content button:hover {
    background-color: var(--faded-blue);
    color: #000;
}
