* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    transition: all 0.45s ease;
}
:root {
    --cyan: #00ccff;
    --lime: #00ffbb;
    --blue-dark: #001b66;
    --blue: #0044ff;
    --faded-blue: #99b4ff;
    --big-font: 5rem;
    --h1-font: 2rem;
    --h2-font: 1.5rem;
    --p-font: 1.1rem;
}
body {
    position: relative;
    background-image: url(../assets/bg-sign.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
span {
    color: var(--blue-dark);
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section .form-content {
    padding: 25px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
}
section .form-content .title {
    font-size: var(--h1-font);
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
}
section .form-content .inputan {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
section .form-content .inputan input {
    width: 100%;
    border: 1px solid var(--faded-blue);
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
    margin-top: 1px;
    height: 40px;
    padding: 8px;
}
section .form-content .inputan input:focus {
    border: 1px solid var(--blue);
}
section .form-content button {
    width: 100%;
    margin-top: 10px;
    outline: none;
    height: 45px;
    border: 1px solid var(--blue);
    transition: all 0.45s ease;
    color: #fff;
    background-color: var(--blue);
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 8px;
    font-size: var(--p-font);
}
section .form-content button:hover {
    background-color: var(--faded-blue);
    color: #000;
}
section #info {
    font-size: var(--p-font);
}
section #info a {
    color: var(--blue);
}
section #info a:hover {
    color: var(--blue-dark);
}
section .back a {
    display: flex;
    align-items: center;
    margin-top: 8px;
    color: var(--blue);
    font-size: var(--p-font);
}
section .back a i {
    margin-right: 5px;
    font-size: 1.3rem;
}
section .back a:hover {
    color: var(--blue-dark);
}
.alertmsg .alertdanger {
    background-color: red;
    color: #fff;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    font-size: var(--p-font);
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.alertmsg .alertsuccess {
    background-color: rgb(0, 165, 0);
    color: #fff;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    font-size: var(--p-font);
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.invalid-feed {
    color: red;
}
