* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root {
    --cyan: #00ccff;
    --lime: #00ffbb;
    --blue-dark: #001b66;
    --blue: #0044ff;
    --faded-blue: #99b4ff;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
